/* General Styles */

body {
     margin: 0;
     padding: 0;
     font-family: Arial, sans-serif;
     background-color: #fefefe;
   }
   
   h1, h2, h3, h4 {
     margin: 0;
   }
   
   .container {
     max-width: 1200px;
     margin: 0 auto;
     padding: 20px;
   }

   .subscribe-btn {
         display: block;
         
         padding: 20px;
         background-color: #1f8624;
        margin: 30px auto;
        width: 35%;
        border-radius: 10px;
        text-decoration: none;
        color: white;
         align-self: center;
         justify-self: center;
         
   }
   
   /* Header Styles */
   
   header {
     background-color: #1f8624;
     padding: 20px;
     color: #fff;
   }

   .logo {
     text-decoration: none;
     position: absolute;
     right: 1%;
     
   }
   
   header nav ul {
     font-style: none;
     margin: 0;
     padding: 0;
     
      
     display: inline-flex;
     justify-content: flex-end;
     align-items: center;
   }
   .header {
     height: 10vh;
     background-color: #cdf6cf;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: x-large;
     font-weight: 800;
   }
   
   header nav ul h3 {
     display: inh3ne-block;
   }
   
   header nav ul h3 a {
     text-decoration: none;
     color: #ffffff;
     padding: 10px;
   }
   header nav ul h3 a:hover {
     text-decoration: none;
     color: #aabda6;
     padding: 10px;
   }
   
   /* Archive Page Styles */
   
   .archive ul {
     font-style: none;
     padding: 0;
   }
   
   .archive h3 {
     margin-bottom: 20px;
   }
   
   .archive h3 {
     margin-bottom: 5px;
   }
   
   .archive p span {
     font-weight: bold;
   }
   
   /* Subscription Page Styles */
   
   .subscribe form {
     display: flex;
     align-items: center;
     margin-top: 20px;
   }

   .features {
     background-color: #fff;
     margin: 0 15vw;
     text-align: center;
     line-height: 2.5vw;
   }

   .features div {
     background-color: #fff;
     
     margin: 1vw 10vw;
     border: 2px solid white;
     box-shadow: 5px 5px 5px 5px rgb(183, 175, 175);
     text-align: center;
   
   }
   
   .subscribe label {
     margin-right: 10px;
   }
   
   .subscribe input[type="email"],
   .subscribe button {
     padding: 10px;
     font-size: 16px;
   }
   
   .subscribe input[type="email"] {
     flex: 1;
     border: 1px soh3d #ccc;
     border-radius: 4px;
   }
   
   .subscribe button {
     background-color: dodgerblue;
     color: #fff;
     border: none;
     border-radius: 4px;
     cursor: pointer;
   }
   
   .subscribe button:hover {
     background-color: #007bff;
   }
   
   hr {
     width: 70%;
     height: 1px;
     color: black;
     background-color: rgb(46, 97, 35);
     margin: 5% ;
   }
   /* Footer Styles */
   
   footer {
     background-color: #f1f1f1;
     padding: 20px;
     text-align: center;
   }
   

   .hero {
     text-align: center;
     margin: 10vh;
     
   }
   

   .archive {
     margin-top: 5%;
   position: relative;
     
   }
   .archive h2 {
     padding: 20px;
     margin: 0 auto;
     margin-left: 30%;
     color: #1f8624;
     font-weight: 700;
     
   }

   .archive  h3 {
     color: #1f8624;

   
     
   }

   .archive p {
     margin: 10px 20px;
     
   }

   @media screen (){
     
   }

.cont4 {
     display:flex;
     justify-content: space-around;
}


  




   .subscribe {
     background-color: #c3e6c4;
     padding: 20px;
     border-radius: 5px;
     text-align: center;
   }

 

   form {
     display: flex;
     flex-direction: column;
     align-items: center;
   }

   label {
     color: #005a00;
     font-weight: bold;
     margin-bottom: 10px;
   }

   input[type="text"],
   input[type="email"] {
     width: 250px;
     padding: 10px;
     margin-bottom: 10px;
     border-radius: 5px;
     border: none;
   }

   button[type="submit"] {
     background-color: #005a00;
     color: white;
     padding: 10px 20px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     margin-top: 20px;
   }

   button[type="submit"]:hover {
     
     background-color: #003700;
   }